{% extends '/layouts/liens.html.twig' %}
{% block styles %}
	<style>
		body::after {
			content: none !important;
		}
	</style>
{% endblock %}
{% block title %}404 | Not Found
{% endblock %}

{% block body %}
	<div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
		<h1 style="font-size: 7em; font-weight:bold">404</h1>
		<p class="my-0">It seems that there is no page with this name</p>
        <a href="{{path('app_home')}}" class="btn px-5 mt-3 py-2 btn-primary rounded-5 shadow">Page Acceuil</a>

		<img src="{{asset('/build/images/bottle.022ab75e6c3db77a401941a6f5e6757b.png')}}" alt="bottle" width="700px" height="700px" class="position-fixed top-100 start-100 z-0">
	</div>
{% endblock %}
